
<!-- Section -->
<section>
	<header class="major">
		<h2>Об о мне</h2>
	</header>
	<div class="content">
		Дата рождения: 1998<br/>
		Образование: Не законченный радиотехнический<br/>
		Нативный язык: Русский<br/>
		Второй язык: Английский (Разговоный, технический)<br/><br/>

		<h4>Опыт работы: </h4>
		<ul>
			<li>2013-2015 - любительское программирование</li>
			<li>2015+ - коммерческое программирование</li>
			<li>2014+ - любительское рисование</li>
		</ul>
	</div>

</section>
<section>
	<header class="major">
		<h2>Мои навыки</h2>
	</header>
	<dl>
		<dt>Основное:</dt>	
		<dd>C++, C, C# (mono, .net framework, .net core), JS, HTML5, WebGL, OpenGL, Cocos2d-x, Cocos2d-js, Cocos Creator, android sdk, Godot(python), Unreal Engine(C++)</dd>
		<dt>Остальное:</dt>	
		<dd>Game Maker, unity, java, Немного lua, bash, git, микроконтроллеры(AVR, ARM, avr-gcc, uart, com), ассемблер(Cheat Engine, shenzhen io), autoit скрипты</dd>
	</dl>
</section>
