<!-- Content -->
  <section>
    <header class="main">
      <h1>Nanny notes</h1>
    </header>

    <span class="image main"><img src="./views/my-cases/nanny-notes/images/preview.png" alt="" /></span>

    <p>_Some description</p>
    <p><strong>When:</strong> Somewhen in 2015, couple mounth</p>
		<p><strong>My role:</strong> level and mini games code, minor engine improves</p>
    <p><strong>Status:</strong> unreleased, frosen</p>

		<p><a href="http://oriplay.com/nannynotes/">Oriplay page</a></p>

    <hr class="major" />

    <h2>Demo videos</h2>

		<p><a href="https://www.youtube.com/watch?v=-cmvZk7ti_8&list=PLKApRcryrGHRMn1nviW5sUYI8uhkrHW3n">Full playlist</a></p>

		<div class="youtubeWrapper">
			<div class="loadingAnim"></div>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/HohTKrQ0AS4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
		<div class="youtubeWrapper">
			<div class="loadingAnim"></div>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/-cmvZk7ti_8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
		<div class="youtubeWrapper">
			<div class="loadingAnim"></div>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/RGaaHwnh1i4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>

  </section>
